<div class="row">
    <h2>Educacion <button type="button" class="btn btn-primary" routerLink="/nuevaedu" *ngIf="isLogged"><i
                class="bi bi-plus-square"></i></button></h2>

    <div class="container p-2" *ngFor="let Educacion of educacion">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <h3 class="text-muted">
                            <button *ngIf="isLogged" type="button" class="btn btn-outline-danger"
                                (click)="delete(Educacion.id)"><i class="bi bi-trash3"></i></button>
        
                            <button *ngIf="isLogged" type="button" class="btn btn-outline-primary"
                                routerLink="/editedu/{{Educacion.id}}"><i class="bi bi-pencil-square"></i></button>
                            {{Educacion.nombreE}}
                        </h3>
                    </div>
                    <div><p class="text-center lead justify-content-center">{{Educacion.descripcionE}}</p></div>
                </div>

            </div>
        </div>
        
    </div>
</div>