<div class="row">
    <div class="col-md-4 col-lg-6 col-xl-4 justify-content-center align-items-center parte1">
        <div class="cardfoto">
            <div class="card-body">
                <img src= "{{persona.img}}" class="img-fluid" id="fotodeperfil">
                <h4><p id= "nombre"> {{persona.nombre}} {{persona.apellido}} <button type="button" class="btn btn-primary" routerLink="/editacercade/1"
                    *ngIf="isLogged"><i class="bi bi-pencil-square"></i></button></p></h4>
                <p> Full Stacks Developer Jr</p>
            </div>
        </div>
    </div>

        <div class="card-body col-md-8 col-lg-6 col-xl-8 justify-content-center align-items-center parte2">
            <div class="card">
                <div class="card-body">
            <span>
                <h2> Acerca de mí</h2>
                <p>{{persona.descripcion}}</p>
            </span>
        </div>
    </div>
    </div>
</div>