/* You can add global styles to this file, and also import other style files */
*{
    background-color: #4c94a3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: #4c94a3;
}
h2{
    display: inline;
    font-size: 20px;
    color: black;
    font-style: italic;
}
h3{
    display: inline;
    color: blue;
    font-size: x-small;
    
}